.container-cartas-figura {
  display: flex; /* Usar flexbox para alinear las cartas horizontalmente */
  justify-content: center; /* Centrar las cartas en el contenedor */
  position: absolute; /* Posicionamiento absoluto para que se superpongan al jugador 1 */
  z-index: 1;
}

.grupo-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  bottom: 140px; /* Ajusta esto para que estén sobre el jugador 1 */
  left: 50%; /* Centrado horizontalmente */
  transform: translateX(-50%);
  position: absolute;
}
.grupo-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  top: 140px; /* Ajusta esto para que estén sobre el jugador 1 */
  left: 50%; /* Centrado horizontalmente */
  transform: translateX(-50%);
  position: absolute;
}

.grupo-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 50%; /* Centrado verticalmente */
  left: 33%; /* Ajusta este valor según sea necesario */
  transform: translateY(-50%);
  position: absolute;
}

.grupo-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 50%; /* Centrado verticalmente */
  right: 33%; /* Ajusta este valor según sea necesario */
  transform: translateY(-50%);
  position: absolute;
}

.carta-bloqueada {
  position: relative; /* Necesario para posicionar los pseudo-elementos */
  pointer-events: none;
}

.carta-bloqueada::after,
.carta-bloqueada::before {
  content: "";
  position: absolute;
  top: 50%; /* Centra las líneas verticalmente */
  left: 0;
  width: 100%;
  height: 2px; /* Grosor de la línea */
  background-color: red; /* Color de la línea de tachado */
  transform-origin: center;
}

.carta-bloqueada::after {
  transform: rotate(-45deg); /* Primera línea */
}

.carta-bloqueada::before {
  transform: rotate(45deg); /* Segunda línea en dirección opuesta */
}