.container-cartas-figura {
  display: flex; /* Usar flexbox para alinear las cartas horizontalmente */
  justify-content: center; /* Centrar las cartas en el contenedor */
  position: absolute; /* Posicionamiento absoluto para que se superpongan al jugador 1 */
  z-index: 1;
}

.grupo-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  bottom: 140px; /* Ajusta esto para que estén sobre el jugador 1 */
  left: 50%; /* Centrado horizontalmente */
  transform: translateX(-50%);
  position: absolute;
}
.grupo-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  top: 140px; /* Ajusta esto para que estén sobre el jugador 1 */
  left: 50%; /* Centrado horizontalmente */
  transform: translateX(-50%);
  position: absolute;
}

.grupo-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 50%; /* Centrado verticalmente */
  left: 33%; /* Ajusta este valor según sea necesario */
  transform: translateY(-50%);
  position: absolute;
}

.grupo-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 50%; /* Centrado verticalmente */
  right: 33%; /* Ajusta este valor según sea necesario */
  transform: translateY(-50%);
  position: absolute;
}
