.boardContainer {
  grid-area: board;
  display: grid;
  place-items: center;
  border: 6px solid; 
  border-image: linear-gradient(to bottom right, #cccccc, #999999) 1;
  box-sizing: border-box;
}

.square {
  width: 40px; 
  height: 40px;
  cursor: pointer;
  border-radius: 8px; 
  margin: 0;
}

.square.selected {
  animation: neonGlow 2s infinite; /* Animación del resplandor */

}

.square.highlighted {
    border: 3px solid #fcf8f8;
}

.boardRow {
  display: flex;
}

.square.selected {
  border: 2px solid black;
  animation: pulseBorder 1.5s infinite;
}

@keyframes pulseBorder {
  0%, 100% {
    box-shadow: 0 0 5px black;
  }
  50% {
    box-shadow: 0 0 15px black;
  }
}

/* Animación de desvanecimiento */
@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.errorMensaje {
  background-color: red;
  color: white;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  text-align: center;
  animation: fadeOut 3s forwards; /* La animación dura 3 segundos */
}
