.boardContainer {
  grid-area: board;
  display: grid;
  place-items: center;
  border: 6px solid; 
  border-image: linear-gradient(to bottom right, #cccccc, #999999) 1;
  box-sizing: border-box;
  position: relative; /* Importante para que los elementos hijos con posicionamiento absoluto estén referenciados a este contenedor */
}

.square {
  width: 40px; 
  height: 40px;
  cursor: pointer;
  border-radius: 8px; 
  margin: 0;
}

.square.selected {
  animation: neonGlow 2s infinite; /* Animación del resplandor */
}

.square.highlighted {
  border: 3px solid #ffffff;
}

.boardRow {
  display: flex;
}

@keyframes neonGlow {
  0% {
    box-shadow: 0 0 10px #ff00ff, 0 0 20px #00ffff, 0 0 30px #ffff00;
  }
  50% {
    box-shadow: 0 0 20px #00ffff, 0 0 30px #ffff00, 0 0 40px #ff00ff;
  }
  100% {
    box-shadow: 0 0 10px #ffff00, 0 0 20px #ff00ff, 0 0 30px #00ffff;
  }
}

.modoDaltonismoButton {
  padding: 5px 10px; /* Ajustamos el relleno para hacerlo más estrecho y largo */
  background-color: #59595a;
  color: white;
  border: 2px solid #cccccc;
  border-radius: 5px;
  cursor: pointer;
  position: absolute; /* Posicionamos el botón de manera absoluta */
  top: -40px; /* Ajusta la distancia para que esté más cerca del tablero */
  left: 50%; /* Centrado horizontalmente */
  transform: translateX(-50%); /* Asegura que el botón esté centrado horizontalmente */
  font-size: 11px; /* Ajusta el tamaño de fuente si es necesario */
  display: inline-block; /* Permite que el botón ajuste su ancho al contenido */
}

.modoDaltonismoButton:hover {
  background-color: #0056b3;
}
