.jugador1-container-cartas-movimiento {
    display: flex; /* Usar flexbox para alinear las cartas horizontalmente */
    justify-content: center; /* Centrar las cartas en el contenedor */
    position: absolute; /* Posicionamiento absoluto para que se superpongan al jugador 1 */
    bottom: 40px; /* Ajusta esto para que estén sobre el jugador 1 */
    left: 50%; /* Centrado horizontalmente */
    transform: translateX(-50%); /* Ajuste para centrar horizontalmente */
    z-index: 1; /* Asegúrate de que las cartas estén sobre otros elementos */
  }
  
  .jugador2-container-cartas-movimiento {
    display: flex; /* Usar flexbox para alinear las cartas horizontalmente */
    justify-content: center; /* Centrar las cartas en el contenedor */
    position: absolute; /* Posicionamiento absoluto para que se superpongan al jugador 2 */
    top: 40px; /* Ajusta esto para que estén sobre el jugador 2 */
    left: 50%; /* Centrado horizontalmente */
    transform: translateX(-50%); /* Ajuste para centrar horizontalmente */
    z-index: 1; /* Asegúrate de que las cartas estén sobre otros elementos */
  }
  
  .jugador3-container-cartas-movimiento {
    display: flex; /* Usar flexbox para alinear las cartas verticalmente */
    flex-direction: column; /* Apilar las cartas verticalmente */
    align-items: center; /* Centrar las cartas horizontalmente */
    position: absolute; /* Posicionamiento absoluto para que se superpongan al jugador 3 y 4 */
    top: 50%; /* Ajusta esto para centrar verticalmente */
    transform: translateY(-50%); /* Ajuste para centrar verticalmente */
    z-index: 1; /* Asegúrate de que las cartas estén sobre otros elementos */
    left: 9%; /* Ajusta esto para que estén a la izquierda del jugador 43*/
    margin-left: 10px; /* Espaciado a la izquierda del jugador 3 */
  }

  .jugador4-container-cartas-movimiento {
    display: flex; /* Usar flexbox para alinear las cartas verticalmente */
    flex-direction: column; /* Apilar las cartas verticalmente */
    position: absolute; /* Posicionamiento absoluto para que se superpongan al jugador 3 y 4 */
    top: 50%; /* Ajusta esto para centrar verticalmente */
    transform: translateY(-50%); /* Ajuste para centrar verticalmente */
    z-index: 1; /* Asegúrate de que las cartas estén sobre otros elementos */
    right: 9%; /* Ajusta esto para que estén a la derecha del jugador 4 */
    margin-right: 10px; /* Espaciado a la derecha del jugador 4 */
  }
