.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px; 
}

.form-field {
  display: flex;
  flex-direction: column;
}

.crear-partidas-titulo {
  font-size: 2.5rem; 
  font-weight: bold;
  color: #ffffff; 
  text-shadow: 0 0 5px #000000, 0 0 10px #000000; 
  text-align: center; 
  margin-bottom: 20px; 
}

label {
  margin-bottom: 8px;
  font-weight: bold;
  color: #000000; 
  text-shadow: 0 0 5px #da8e6b, 0 0 10px #f5540a; 
}

input {
  padding: 10px;
  border: 1px solid #000000; 
  border-radius: 4px;
  font-size: 14px;
  color: #ffffff; 
  background-color: #817f7f; 
  outline: none;
  box-shadow: 0 0 10px #f3f1f0;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus {
  border-color: #000000; 
  box-shadow: 0 0 15px #000000; 
}



.button-container {
margin-top: 10px;
text-align: center;
}

.crear-partida-boton {
padding: 10px 20px; 
font-size: 1rem; 
color: #000000; 
background-color: #ffffff; 
border: 2px solid #000000; 
border-radius: 5px; 
cursor: pointer;
transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
box-shadow: 0 0 10px #e25221, 0 0 20px #ec4f23; 
}

.crear-partida-boton:hover {
color: #ffffff; 
background-color: #f72840;  
border-color: #000000;
}

.crear-partida-boton:active {
transform: scale(0.95);
}


.notification {
margin: 20px auto;
padding: 15px;
max-width: 400px;
border: 1px solid #7c2d12;
border-radius: 8px;
background-color: #1c1c1c;
color: #ffffff;
font-weight: 600;
text-align: center;
box-shadow: 0 0 15px #7c2d12, 0 0 25px #5b1e0d;
transition: opacity 0.3s ease;
}

.notification p {
margin: 0;
}

.notification.error {
border-color: #7c2d12;
box-shadow: 0 0 15px #7c2d12, 0 0 25px #7c2d12;
}

.notification-close {
position: relative;
top: 8px;
right: 8px;
cursor: pointer;
font-weight: bold;
font-size: 8px;
background-color: #7c2d12; 
color: #fff;
border: none; 
outline: none; 
}

/* Estilo del botón de crear partida */
.button-container {
  margin-top: 10px;
  text-align: center;
}

.crear-partida-boton {
  font-size: 0.875rem;
  color: #000000;
  cursor: pointer;
  transition: color 0.2s ease;
}

.crear-partida-boton:hover {
  background-color: #f6953b; 
  color: #ffffff; 

}

.crear-partida-boton:active {
  transform: scale(0.95);
}
