.carta-movimiento {
    width: 5vw;
    display: flex; /* Asegura que el contenido se alinee dentro del contenedor */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */ 
    margin: 0 5px; /* Espaciado entre las cartas */
    transition: transform 0.3s ease; /* Transición suave para el efecto de hover */
    z-index: 2; /* Asegura que la carta esté en el frente al hacer hover */
    min-width: 40px;
}

.carta-movimiento:hover {
    transform: scale(1.5); /* Aumenta el tamaño de la carta al hacer hover */
    position: relative; /* Cambiar posición para centrado */
    z-index: 3; /* Asegura que la carta esté por encima del fondo */
}

.carta-movimiento-img {
    max-width: 100%; /* Asegúrate de que la imagen no exceda el contenedor */
    max-height: 100%; /* Asegúrate de que la imagen no exceda el contenedor */
    object-fit: contain; /* Asegura que la imagen se mantenga en proporción */
}
