/* Contenedor del formulario */
.form-container {
  max-width: 400px; /* Limitar el ancho máximo del formulario */
  background-color: #2c2c2c; /* Fondo oscuro */
  padding: 40px; /* Espaciado interno para el contenido */
  border: 1px solid #444; /* Borde sutil */
  border-radius: 12px; /* Bordes redondeados */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Sombra alrededor */
  margin: 20px 0 20px 50px; /* Centramos el contenedor dentro de su contexto */
  box-sizing: border-box; /* Incluir padding y borde en el tamaño total */
}
  
  /* Agrupación de los campos del formulario */
  .form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px; /* Espaciado entre grupos */
  }
  
  /* Campo individual del formulario */
  .form-field {
    display: flex;
    flex-direction: column;
  }

  /*Titulo de ambos componentes*/
.crear-partidas-titulo {
    font-size: 2.5rem; /* Aumenta el tamaño de la fuente */
    font-weight: bold;
    color: #00d9ff; /* Color del texto */
    text-shadow: 0 0 5px #e00000, 0 0 10px #e00000; 
    text-align: center; /* Centra el texto horizontalmente */
    margin-bottom: 20px; /* Espacio inferior adicional */
  }
  
  /* Estilo del label */
  label {
    margin-bottom: 8px;
    font-weight: bold;
    color: #00d9ff; /* Color del texto */
    text-shadow: 0 0 5px #e00000, 0 0 10px #e00000; 
  }
  
  /* Estilo de los inputs */
  input {
    padding: 10px;
    border: 1px solid #00d9ff; 
    border-radius: 4px;
    font-size: 14px;
    color: #ffffff; /* Color del texto */
    background-color: #444; /* Fondo del input */
    outline: none;
    box-shadow: 0 0 10px #00d9ff;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  input:focus {
    border-color: #e00000; 
    box-shadow: 0 0 15px #e00000; 
  }
  
  /* Estilo del botón de crear partida */
.button-container {
    margin-top: 10px;
    text-align: center;
  }
  
  .crear-partida-boton {
    font-size: 0.875rem;
    color: #00d9ff;
    cursor: pointer;
    transition: color 0.2s ease;
  }
  
  .crear-partida-boton:hover {
    color: #e00000; /* Cambio de color al pasar el cursor */
    border-color: #00d9ff;
  }
  
  .crear-partida-boton:active {
    transform: scale(0.95);
  }

  /* Estilo de la notificación */
.notification {
    margin: 20px auto;
    padding: 15px;
    max-width: 400px;
    border: 1px solid #e00000;
    border-radius: 8px;
    background-color: #1c1c1c;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    box-shadow: 0 0 15px #00d9ff, 0 0 25px #e00000, 0 0 35px #00d9ff;
    transition: opacity 0.3s ease;
  }
  
  .notification p {
    margin: 0;
  }
  
  .notification.error {
    border-color: #e00000;
    box-shadow: 0 0 15px #e00000, 0 0 25px #e00000;
  }
  
  /* Estilo para el botón de cierre */
  .notification-close {
    position: relative;
    top: 8px;
    right: 8px;
    cursor: pointer;
    font-weight: bold;
    font-size: 8px;
    background-color: #00d9ff; /* Sin fondo */
    border: none; /* Sin borde */
    outline: none; /* Sin contorno */
  }

  /* Estilo del botón de crear partida */
.button-container {
    margin-top: 10px;
    text-align: center;
  }
  
  .crear-partida-boton {
    font-size: 0.875rem;
    color: #00d9ff;
    cursor: pointer;
    transition: color 0.2s ease;
  }
  
  .crear-partida-boton:hover {
    color: #e00000; /* Cambio de color al pasar el cursor */
    border-color: #00d9ff;
  }

  .crear-partida-boton:active {
    transform: scale(0.95);
  }