.timer-container {
  position: absolute;
  top: 70px; 
  left: 70%; 
  transform: translateX(-50%);
  display: flex;
  justify-content: center; /* Centrar contenido */
  align-items: center; /* Alinear verticalmente el contenido */
  flex-direction: row; /* Cambiar a fila para alinear el bot칩n al lado del temporizador */
  margin-top: 0;
  margin-bottom: 0;
}


/* Animaci칩n de advertencia del temporizador */
.timer-warning-active {
  animation: pulse 0.5s infinite;
  border-radius: 10px;
}

/* Animaci칩n de pulso */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.rectangulo {
  width: 60px; 
  height: auto;
  padding: 7px;
  border-radius: 10px;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  border: 5px solid rgba(0, 0, 0, 0.4);
  transition: background 0.3s;
  text-align: center;
}

/* Estilo del texto del temporizador */
.timer-text {
  font-size: 1rem;
  font-weight: bold;
  color: #ffeb3b;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  font-family: 'Arial', sans-serif;
}

/* Indicador del turno actual */
.turnIndicator {
  margin-top: 5px;
  font-size: 1rem;
  color: #ffffff;
}

/* Media query para pantallas peque침as (menos de 480px) */
@media (max-width: 480px) {
  .rectangulo {
    width: 40px; 
    padding: 5px;
  }

  .timer-text {
    font-size: 0.9rem;
  }

  .turnIndicator {
    font-size: 0.9rem; 
  }

  .timer-container {
    top: 40px; 
    left: 50%; 
    transform: translateX(-50%);
  }
}

/* Media query para pantallas medianas (entre 480px y 768px) */
@media (min-width: 480px) and (max-width: 768px) {
  .rectangulo {
    width: 50px; 
    padding: 6px; 
  }

  .timer-text {
    font-size: 1rem; 
  }

  .turnIndicator {
    font-size: 1rem; 
  }

  .timer-container {
    top: 50px; 
    left: 65%; 
  }
}
