.timer-container {
  position: relative;
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-direction: column; 
  margin-top: 20px; /* Reduce el margen superior */
  margin-bottom: 10px; /* Reduce el margen inferior */
}

.timer-warning-active {
  animation: pulse 0.5s infinite; 
  border-radius: 10px; /* Reduce el borde redondeado */
}

/* Animación de pulso */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05); 
  }
  100% {
    transform: scale(1);
  }
}

.rectangulo {
  width: 60px; /* Reduce el tamaño a la mitad */
  height: auto; 
  padding: 7px; /* Reduce el espacio interno */
  border-radius: 10px; /* Reduce el borde redondeado */
  background: radial-gradient(circle, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 100%);
  display: flex;
  flex-direction: column; /* Alinear el contenido verticalmente */
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5); /* Reduce la sombra */
  backdrop-filter: blur(5px); /* Reduce el desenfoque de fondo */
  border: 1px solid rgba(255, 255, 255, 0.4); /* Reduce el grosor del borde */
  transition: background 0.3s; 
  text-align: center; 
}

.timer-text {
  font-size: 1rem; /* Tamaño de la fuente para los números */
  font-weight: bold;
  color: #ffeb3b; 
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); /* Reduce la sombra del texto */
  font-family: 'Arial', sans-serif;
}

.turnIndicator {
  margin-top: 5px; /* Reduce el margen superior */
  font-size: 1rem; /* Aumenta el tamaño de la fuente para letras al mismo tamaño que los números */
  color: #ffffff; 
}

@media (max-width: 480px) {
  .rectangulo {
    width: 40px; /* Ajustar el tamaño para dispositivos más pequeños */
    padding: 5px; /* Reduce el espacio interno */
  }

  .timer-text {
    font-size: 1rem; /* Tamaño de fuente ajustado */
  }

  .turnIndicator {
    font-size: 1rem; /* Aumenta el tamaño de fuente al mismo tamaño que los números */
  }
}
