
.partidaContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; 
  height: 120vh; 
 background: radial-gradient(circle, #121213, #3a3a3b, #8a878b, #474647); 
  background-size: 200% 200%;
  animation: gradientAnimation 15s ease infinite;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Color de sombra con opacidad */
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.startButton {
  z-index: 20; /* Asegúrate de que el botón esté encima de la superposición */
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  background-color: #4CAF50; /* Color de fondo */
  color: white; /* Color del texto */
  border: none;
  border-radius: 5px;
}

button:disabled {
  opacity: 0.5; /* Estilo para botones deshabilitados */
  cursor: not-allowed; /* Cambiar el cursor para botones deshabilitados */
}
