.partidaContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; 
  height: 120vh; 
  background: radial-gradient(circle, #121213, #3a3a3b, #8a878b, #474647); 
  background-size: 200% 200%;
  animation: gradientAnimation 15s ease infinite;
}

.contenidoOculto {
  opacity: 0.2; /* Reducir la opacidad antes de que la partida inicie */
  pointer-events: none; /* Deshabilitar la interacción */
}

.contenidoVisible {
  opacity: 1; /* Opacidad completa cuando la partida está activa */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7); /* Opacidad para oscurecer */
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.startButton {
  z-index: 20;
  padding: 15px 30px;
  font-size: 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.startButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
