.container-partida {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Para ocupar todo el ancho */
    height: 100vh; /* Para ocupar toda la altura de la ventana */
    background: linear-gradient(45deg, #9c27b0, #271018, #e6165b); /* Tonos morados y rosas */
    background-size: 200% 200%;
    animation: gradientAnimation 15s ease infinite; /* Animación con colores vibrantes */
  }

  .jugador1 {
    position: absolute; /* Posicionamiento absoluto */
    bottom: 0; /* Al borde superior */
    left: 50%; /* Centrado horizontalmente */
    transform: translateX(-50%); /* Ajuste para centrar horizontalmente */
    padding-bottom: 10px; /* Padding de 10 píxeles en la parte superior */
  }

.jugador2 {
    position: absolute; /* Posicionamiento absoluto */
    top: 0; /* Al borde superior */
    left: 50%; /* Centrado horizontalmente */
    transform: translateX(-50%); /* Ajuste para centrar horizontalmente */
    padding-top: 10px; /* Padding de 10 píxeles en la parte superior */
  }

.jugador3 {
  position: absolute; /* Posicionamiento absoluto */
  top: 50%; /* Centrado verticalmente */
  left: 0; /* A la izquierda */
  transform: translateY(-50%); /* Ajusta la posición para centrar verticalmente */
  padding-left: 10px; /* Padding de 10 píxeles en el borde izquierdo */
}

.jugador4 {
    position: absolute; /* Posicionamiento absoluto */
    top: 50%; /* Centrado verticalmente */
    right: 0; /* A la izquierda */
    transform: translateY(-50%); /* Ajusta la posición para centrar verticalmente */
    padding-right: 10px; /* Padding de 10 píxeles en el borde izquierdo */
  }

/* Fondo oscuro */
.overlay {
  position: fixed; /* Fijo para cubrir toda la pantalla */
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  background: rgba(0, 0, 0, 0.5); /* Color de fondo oscuro con opacidad */
  z-index: 0; /* Detrás de otros elementos */
}
