.partida-con-chat {
  display: grid;
  grid-template-columns: 1fr calc(100vw - 100vh);
  height: 100vh;
}

.container-partida {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; 
  height: 100vh; 
  background: radial-gradient(circle, #121213, #3a3a3b, #8a878b, #474647); 
  background-size: 200% 200%;
  animation: gradientAnimation 15s ease infinite;
  overflow-y: hidden;
}

.contenedor-chat {
  position: fixed; /* Cambiar a fixed para que se mantenga en su lugar al hacer scroll */
  right: 0px; /* Separación desde el lado derecho de la ventana */
  height: 100%; /* Altura fija del contenedor */
  width: calc(100vw - 100vh);
  background-color: rgba(30, 30, 30, 0.9); /* Fondo semi-transparente */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}  

.tableroContainer {
  display: grid;
  grid-template-areas:
    "top top top"
    "left board right"
    "bottom bottom bottom";
  place-items: center;
  width: 80vh;
  height: 80vh; /* Añade height para asegurarte de que sea un contenedor cuadrado */
  position: absolute; /* Establece posición absoluta */
  top: 50%; /* Mueve el contenedor al 50% desde la parte superior */
  left: 50%; /* Mueve el contenedor al 50% desde la parte izquierda */
  transform: translate(-50%, -50%); /* Ajusta el contenedor para que quede centrado */
  margin: 0; /* Asegúrate de que el margen no afecte el centrado */
}


.timer-container {
  position: relative;
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-top: 40px; 
  margin-bottom: 20px; 
}

.jugador1 {
  position: absolute; /* Posicionamiento absoluto */
  bottom: 0; /* Al borde superior */
  left: 50%; /* Centrado horizontalmente */
  transform: translateX(-50%); /* Ajuste para centrar horizontalmente */
  padding-bottom: 10px; /* Padding de 10 píxeles en la parte superior */
  text-align: center;
}

.jugador2 {
  position: absolute; /* Posicionamiento absoluto */
  top: 0; /* Al borde superior */
  left: 50%; /* Centrado horizontalmente */
  transform: translateX(-50%); /* Ajuste para centrar horizontalmente */
  padding-top: 10px; /* Padding de 10 píxeles en la parte superior */
  text-align: center;
}

.jugador3 {
  position: absolute; /* Posicionamiento absoluto */
  top: 50%; /* Centrado verticalmente */
  left: 0; /* A la izquierda */
  transform: translateY(-50%); /* Ajusta la posición para centrar verticalmente */
  padding-left: 10px; /* Padding de 10 píxeles en el borde izquierdo */
  max-width: 15svh;
  text-align: left;
}

.jugador4 {
  position: absolute; /* Posicionamiento absoluto */
  top: 50%; /* Centrado verticalmente */
  right: 0; /* A la izquierda */
  transform: translateY(-50%); /* Ajusta la posición para centrar verticalmente */
  padding-right: 10px; /* Padding de 10 píxeles en el borde izquierdo */
  max-width: 15svh;
  text-align: right;
}

.abandonar-partida-container {
  position: absolute; /* Permite colocar el contenedor en una posición específica */
  bottom: 20px; /* Distancia desde el borde inferior */
  left: 20px; /* Distancia desde el borde izquierdo */
  z-index: 1;
}

.pasar-turno-container {
  display: flex;
  align-items: center;
  position: absolute; 
  top: 30px; /* Ajusta esta propiedad según sea necesario */
  left: 20px; /* Mueve el contenedor hacia la izquierda */
  z-index: 0;
}
  
button:disabled {
  opacity: 0.5; /* Estilo para botones deshabilitados */
  cursor: not-allowed; /* Cambiar el cursor para botones deshabilitados */
}

/* Fondo oscuro */
.overlay {
  position: fixed; /* Fijo para cubrir toda la pantalla */
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  background: rgba(0, 0, 0, 0.5); /* Color de fondo oscuro con opacidad */
  z-index: 0;
}

.overlay-supremo {
  position: absolute;
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  background: rgba(0, 0, 0, 0.5); /* Color de fondo oscuro con opacidad */
  z-index: 2;
}

.timer-container {
  position: absolute;
  top: 70px; 
  left: 70%; 
  transform: translateX(-50%);
  display: flex;
  justify-content: center; /* Centrar contenido */
  align-items: center; /* Alinear verticalmente el contenido */
  flex-direction: row; /* Cambiar a fila para alinear el botón al lado del Temporizador */
  margin-top: 0;
  margin-bottom: 0;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: #c57d56; /* Color similar al contenedor del formulario */
  padding: 20px;
  border-radius: 12px; /* Bordes redondeados similares */
  max-width: 500px;
  width: 100%;
  z-index: 1001;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* Sombra similar a los contenedores */
  border: 1px solid #282827; /* Borde similar al formulario */
  text-align: center; /* Alineación central */
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px; /* Tamaño de letra del título */
  font-weight: bold;
  color: #fff; /* Color del texto blanco */
}

.modal-body {
  font-size: 18px;
  color: #fff; /* Texto en blanco */
  margin: 20px 0;
}

.modal-footer {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

/* Botón de cierre */
.modal-footer button {
  background-color: #070707; /* Color de fondo similar */
  color: #fff; /* Texto en blanco */
  padding: 10px 20px;
  border: none;
  border-radius: 6px; /* Bordes redondeados */
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
}

/* Hover del botón */
.modal-footer button:hover {
  background-color: #282827; /* Cambia el color al pasar el ratón */
  transform: scale(1.05); /* Aumenta ligeramente el tamaño */
}
