/* Estilos base */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.startButton {
  z-index: 20;
  padding: 15px 30px;
  font-size: 22px;
  background-color: #10ee18;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, border 0.3s;
}

.startButton:hover {
  background-color: #e75410;
  border: 3px solid black;
}

.startButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Ajustes para pantallas más pequeñas */
@media (max-width: 768px) {
  .startButton {
    padding: 12px 25px; /* Botón más pequeño */
    font-size: 18px;    /* Texto más pequeño */
  }
}

/* Ajustes para pantallas muy pequeñas */
@media (max-width: 480px) {
  .startButton {
    padding: 10px 20px; /* Botón más pequeño aún */
    font-size: 16px;    /* Texto más pequeño aún */
  }

  .overlay {
    justify-content: flex-end;  /* Alineación diferente para pantallas pequeñas */
    align-items: flex-end;
    padding: 20px;
  }
}