.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7); /* Opacidad para oscurecer */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .startButton {
    padding: 15px 30px;
    font-size: 22px;
    background-color: #10ee18; /* Color de fondo */
    color: black; /* Letras negras */
    border: 2px solid black; /* Borde negro */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border 0.3s; /* Transición suave */
  }
  
  .startButton:hover {
    background-color: #e75410; /* Cambiar el color de fondo al hacer hover */
    border: 3px solid black; /* Aumentar el borde al hacer hover */
  }
  
  .startButton:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  