/* Animación de advertencia del Temporizador */
.timer-warning-active {
  animation: pulse 0.5s infinite;
  border-radius: 10px;
}

/* Animación de pulso */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.rectangulo {
  width: 60px; /* Ajustado a un tamaño más pequeño */
  height: auto;
  padding: 5px; /* Ajustado para reducir el espacio interno */
  border-radius: 10px;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  border: 5px solid rgba(0, 0, 0, 0.4);
  transition: background 0.3s;
  text-align: center;
  min-width: 80px; /* Ajustado para un mínimo tamaño más pequeño */
}

/* Estilo del texto del Temporizador */
.timer-text {
  font-size: 0.9rem; /* Tamaño de texto ajustado */
  font-weight: bold;
  color: #ffeb3b;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  font-family: 'Arial', sans-serif;
}

/* Indicador del turno actual */
.turnIndicator {
  word-wrap: break-word; /* Asegura que el texto largo se ajuste dentro del contenedor */
  margin-top: 3px; /* Espaciado ajustado */
  font-size: 0.9rem; /* Tamaño de texto ajustado */
  color: #ffffff;
  max-width: 100%;
}

/* Media query para pantallas pequeñas (menos de 480px) */
@media (max-width: 480px) {
  .rectangulo {
    width: 30px; /* Ajustado a un tamaño más pequeño */
    padding: 5px;
  }

  .timer-text {
    font-size: 0.8rem; /* Tamaño de texto ajustado */
  }

  .turnIndicator {
    font-size: 0.8rem; /* Tamaño de texto ajustado */
  }

  .timer-container {
    top: 40px; 
    left: 50%; 
    transform: translateX(-50%);
  }
}

/* Media query para pantallas medianas (entre 480px y 768px) */
@media (min-width: 480px) and (max-width: 768px) {
  .rectangulo {
    width: 40px; /* Ajustado a un tamaño más pequeño */
    padding: 6px; 
  }

  .timer-text {
    font-size: 0.9rem; 
  }

  .turnIndicator {
    font-size: 0.9rem; 
  }

  .timer-container {
    top: 50px; 
    left: 65%; 
  }
}

.temporizador-container {
  display: flex;
  align-items: center; /* Alinea verticalmente los elementos */
  flex-direction: column;
  margin: 10px;
}

/* Añade estos estilos para el rectángulo de color bloqueado */
.color-bloqueado {
  width: 80px; /* Ajustado a un tamaño más pequeño */
  height: 40px; /* Ajustado a un tamaño más pequeño */
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  margin-left: 10px; /* Espaciado entre rectángulos */
  position: relative; /* Para el posicionamiento de la etiqueta */
  color: white;
  font-weight: bold;
}
