.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  height: 100vh;
  text-align: center;
  position: relative;
}

.title {
  color: #fff;
  font-family: 'Georgia', serif;
  font-size: 3rem;
  text-shadow: 0 0 15px #ff781e, 0 0 20px #ffffff;
  margin-bottom: 2rem;
  margin-top: 5rem; 
  font-weight: 700;
  transition: text-shadow 0.3s ease;
}

.title:hover {
  text-shadow: 0 0 20px rgb(255, 217, 0), 0 0 30px #faf9f8, 0 0 40px #ffffff;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  width: 40%;
  margin-top: 100px;
  margin-left: 50px; 
  gap: 2rem; 
}

.form {
  background: rgba(0, 0, 0, 0.6);
  padding: 2.5rem;
  border-radius: 8px;
  box-shadow: 0 0 35px rgb(255, 255, 255);
  width: 80%;
  transition: box-shadow 0.4s ease;
  margin-bottom: 2rem; 
}

.input {
  padding: 14px;
  width: 100%;
  border-radius: 8px;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  font-size: 18px;
  box-shadow: 0 0 15px rgb(178, 247, 247);
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.input:focus {
  outline: none;
  border-color: #ffb81e;
  box-shadow: 0 0 25px #ffffff; 
}

.customButton {
  background: linear-gradient(135deg, #aaa, #777);
  color: #f3eeee;
  padding: 12px 24px;
  font-size: 1.2rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  margin-top: 20px;
}

.customButton:hover {
  background: rgb(255, 153, 0);
  box-shadow: 0 0 15px #000000, 0 0 20px #ffffff;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
  width: 100%; 
}

.card {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
  max-width: 400px;
  width: 100%;
  transition: transform 0.3s ease;
}

.card-title {
  color: #fff;
  font-family: 'Georgia', serif;
  font-size: 1.8rem;
  text-shadow: 0 0 10px #ff1eff, 0 0 15px #00ffea;
  margin-bottom: 1rem;
}

.card-text {
  color: #fff;
  font-size: 1rem;
  line-height: 1.6;
}

.custom-button {
  background: linear-gradient(135deg, #aaa, #777);
  color: #f3eeee;
  padding: 12px 24px;
  font-size: 1.2rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
}


.error {
  color: #fd0d0d; 
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 1.3rem;
}

.infoContainer {
  margin-right: 200px;
  max-width: 400px; 
  flex-shrink: 0; 
}

.custom-button-2{
  background: linear-gradient(135deg, #aaa, #777);
  color: #f3eeee;
  padding: 12px 24px;
  font-size: 1.2rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
}

.custom-button-2:hover {
  background: rgb(255, 153, 0);
  box-shadow: 0 0 15px #000000, 0 0 20px #ffffff;
}

.devButtonContainer {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 10;
}

.devButton {
  background-color: #494a4a;
  color: white;
  border: black;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.devButton:hover {
  background-color: #0056b3;
}

