/* Contenedor que envuelve el formulario y la lista */
.titulo-container {
    position: absolute;
    top: 20px; 
    left: 50%;
    transform: translateX(-50%); 
    width: 100%; 
    text-align: center; 
}

/* Estilo del título */
.titulo-opciones {
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    text-decoration: underline; 
    margin-bottom: 20px; 
}

.titulo-opciones:hover {
    color: #070707; 
    transform: scale(1.1); 
}

.opciones-container {
    display: flex;
    align-items: center; 
    height: 100vh; 
    padding: 0 20px; 
    gap: 20px; 
    background: linear-gradient(135deg, #868585, #181717); 
}

/* Contenedor del formulario */
.form-container {
    flex: 1; 
    max-width: 30%; 
    max-height: 80vh;
    background-color: #c57d56; 
    padding: 20px;
    border: 1px solid #282827; 
    border-radius: 12px; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    box-sizing: border-box; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
}

/* Contenedor de la lista */
.list-container {
    flex: 2; 
    max-height: 80vh;
    max-width: 60%;
    overflow-y: auto;
    background-color: #c57d56;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 0.75rem;
    margin-right: 1.5rem;
}

.go-game-button {
    position: fixed; /* Para mantenerlo sobre todo y en una posición fija */
    top: 15px;       /* Ajusta según tu preferencia */
    right: 40px;      /* Ajusta según tu preferencia */
    z-index: 1001;   /* Asegura que esté por encima de otros elementos */
    background-color: #f8782e; 
    color: white;
    border: 2px solid black;
    border-radius: 8px; /* Borde redondeado */
    padding: 10px; /* Espaciado interno */
    font-size: 18px; /* Tamaño del ícono de la flecha */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease; /* Transiciones para el hover */
  }
  
  .go-game-button:hover {
    background-color: #f72840; 
    border: 2px solid #ffffff; 
    transform: scale(1.1);
  }
  
  .go-game-button:focus {
    outline: none;      /* Elimina el contorno predeterminado cuando se hace foco */
  }
  
  .arrow-icon {
    width: 24px;    /* Tamaño del ícono si estás usando una imagen */
    height: auto;   /* Mantiene la relación de aspecto */
  }
