.custom-button {
    background-color:#171817;  /* Color de fondo */
    color: #fff;  /* Color del texto */
    font-size: 14px;  /* Tamaño de la letra */
    padding: 10px 20px;  /* Tamaño del botón */
    border-radius: 8px;  /* Bordes redondeados */
    border: none;  /* Sin borde */
    cursor: pointer;  /* Cambiar cursor al pasar por encima */
    transition: background-color 0.3s ease;  /* Efecto suave al cambiar de color */
    margin-top: 20px;  /* Añade espacio por encima del botón */
  }
  
  /* Efecto al pasar el cursor */
  .custom-button:hover {
    background-color:  #65a30d;  /* Cambia a un verde más oscuro */
    color: #fff;  /* Mantiene el color blanco */
  }
